<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    

</head>
<body>
    <h1>Post</h1>
    <ul>
        <% for(let p of posts) {%>
            <h2><%=p.username%></h2>
            <li><b><%=p.title%></b><b><%=p.price%></b><b><%=p.contactInfo%></b><b><%=p.description%></b>/li>
        <%}%>
    </ul>
    <a href="create">Create Post</a>
    <p>Home tab</p>
</body>
</html>